*{
    box-sizing: border-box;
  }
  /*#mainGrid{
      display: grid;
      grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
      grid-gap: 10px;
  }*/
  
  #navigation-container{
       display: grid;
       grid-template-columns: repeat(5,1fr);
       grid-template-rows: minmax(50px,auto);
       text-align: center;
       font-size: 25px;
  }
  
  #navigation-container a,img{  
       border: 2px solid cornflowerblue;
       text-decoration: none; /* reseteaza stilul link-ului, scoate sublinierea */
  }
  #home-container {
    display: grid;
    grid-template-rows:240px;
    grid-template-columns: 1fr 1fr;
    
  }
  #home-container .left{ 
    text-align: center;
    border: 2px solid cornflowerblue;
  }
  .left button{
    margin-top: 80px;
    width: 200px;
    height: 30px;
  }
  #home-container .right{
    text-align: center;
    border: 2px solid cornflowerblue;
  }
  .left p{
    margin-top:50px;
  }
  
  .right img{
    margin-top:10px;  
  }
  .button{
    color:#00AEEF;
    border-radius: 10px;

  }
  .button:hover{
    color: white;
    transition-duration: 0.4s;
    background-color: #00AEEF ;
  }
  #team-about-sect{
    border: 2px solid cornflowerblue;
  }

  #team-container{
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: minmax(180px,auto);
      grid-column-gap: 20px;
      justify-items: center;
      align-items: center;
  }
  .circle {
      height: 140px;
      width: 140px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      background: white;
      line-height: 140px;
      border: 2px solid cornflowerblue;
  }
  .circle:hover{
    color:white;
    transition-duration: 0.4s;
  }
  .leftCircle:hover{
    background-color: #00AEEF;
  }
  
  .middleCircle:hover{
    background-color: #0000FF;
  }
  
  .rightCircle:hover{
    background-color: #FF00FF;
  }
  #about-container{
      display: grid;
      grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
      grid-template-rows: minmax(150px,auto);
      grid-column-gap: 15px;
      justify-items: center;
      align-items: center;
  }
  .card{
      height:50%;
      width: 70%;
      background-color: white;
      border-radius: 12px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      line-height: 75px ;
      border: 2px solid cornflowerblue;
      
  }
  
  .card:hover{
      color:white;
      transition-duration: 0.4s;
      background-color: #00AEEF;
  }
  
  #contact-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(40px,auto);
    justify-items: center;
    border: 2px solid cornflowerblue;
  }
  
  #contact-container p{
    font-size: 25px;
  }
  